html{
  zoom:250%;
}

@font-face {
  font-family: 'vcr_font';
  src: url('fonts/vcr_osd_mono.ttf') format('truetype'),
  font-weight: light;
  font-style: normal;

}

@font-face {
  font-family: 'arial';
  
  font-weight: light;
  font-style: normal;

}

@font-face {
  font-family: 'minecraftitalic';
  src: url('fonts/minecraftitalic-r8mo-webfont.woff2') format('woff2'),
       url('fonts/minecraftitalic-r8mo-webfont.woff') format('woff');
  font-weight: light;
  font-style: normal;

}
@font-face {
  font-family: 'vcr_font';
  src: url('fonts/minecraftregular-bmg3-webfont.woff2') format('woff2'),
       url('fonts/minecraftregular-bmg3-webfont.woff') format('woff');
  font-weight: light;
  font-style: normal;

}

.centered {
  position:absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  height: 230px;
}

body {
  font-family: "vcr_font";
  src:url("fonts/VCR_OSD_MONO.ttf") format("truetype");
  background-color: #7E7E7E;
  color:"7E7E7E";
}

.mcbold{
  color:#7E7E7E;
  text-shadow: 3px 3px #000000;
  font-family: "vcr_font";
  src:url("fonts/VCR_OSD_MONO.ttf") format("truetype");
}

img{
  border-radius:500px;
}

hr{
  border-width: 10;
}

.blur {
  filter: blur(20px); /* Change the amount of blur as needed */
  transition: filter 0.5s ease;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #313131;
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px #181818;
  box-shadow: 3px 3px #000000;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #39004E;
}
